.inner{
    padding: 22px;
    width: 360px;
    .title{
        font-family: 'Noto Sans KR';
        font-weight: 700;
        font-size: 22px;
        line-height: 32px;
        margin-top: 34px;
        margin-bottom: 20px;
        text-align: start;
    }
    .category{
        display: flex;
        justify-content: space-between;
        color: #7A7A7A;
        & li{
            padding: 0 16px;
            height: 38px;
            border: 1px solid #E8E8E8;
            border-radius: 20px;
            box-sizing: border-box;
            line-height: 38px;
            cursor: pointer;
            &:first-child{
                background: #2C7FFF;
                color: #fff;
            }
            & img{
                margin-right: 3px;
            }
        }
    }
}